<div class="impact-container">
  <picture class="impact impact-3">
    <source media="(max-width: 740px)" srcset="../assets/summer_3_mobile.jpg">
    <source media="(min-width: 740px)" srcset="../assets/summer_3.jpg">  
    <img class="impactSource" src="../assets/summer_3.jpg">
  </picture>
  <picture class="impact impact-2">
    <source media="(max-width: 740px)" srcset="../assets/summer_2_mobile.jpg">
    <source media="(min-width: 740px)" srcset="../assets/summer_2.jpg">  
    <img class="impactSource" src="../assets/summer_2.jpg">
  </picture>
  <picture class="impact impact-1">
    <source media="(max-width: 740px)" srcset="../assets/summer_1_mobile.jpg">
    <source media="(min-width: 740px)" srcset="../assets/summer_1.jpg">  
    <img class="impactSource" src="../assets/summer_1.jpg">
  </picture>
</div>
<div class="impact-container">
  <picture class="impact impact-3">
    <source media="(max-width: 740px)" srcset="../assets/winter_3_mobile.jpg">
    <source media="(min-width: 740px)" srcset="../assets/winter_3.jpg">  
    <img class="impactSource" src="../assets/winter_3.jpg">
  </picture>
  <picture class="impact impact-2">
    <source media="(max-width: 740px)" srcset="../assets/winter_2_mobile.jpg">
    <source media="(min-width: 740px)" srcset="../assets/winter_2.jpg">  
    <img class="impactSource" src="../assets/winter_2.jpg">
  </picture>
  <picture class="impact impact-1">
    <source media="(max-width: 740px)" srcset="../assets/winter_1_mobile.jpg">
    <source media="(min-width: 740px)" srcset="../assets/winter_1.jpg">  
    <img class="impactSource" src="../assets/winter_1.jpg">
  </picture>
</div>