<div class='gv-header-container'>
    <h1 class='gv-title'>Which of the world's cities have the most comfortable temperatures ... and for how much longer?</h1>
    <div class="gv-standfirst">An imaginative map of the places where you can live happily without heating or air-conditioning showed how few cities have these ideal climates. Will climate change make this worse, and what would an increase in air-conditioning use mean for climate change itself?</div>
    <div class='gv-header__meta'>
        <p class="gv-header__byline">
        <a class="gv-header__byline--link" href="https://www.theguardian.com/profile/lily-kuo">Nolan Gray</a> and <a class="gv-header__byline--link" href="https://www.theguardian.com/profile/niko-kommenda">Antonio Voce</a>
        </p>

        <div class='gv-share-container'>
            <div class="gv-share">
                <button class="interactive-share" data-network="facebook"></button>
                <button class="interactive-share" data-network="twitter"></button>
              </div>
        </div>

    </div>


</div>

<div class="gv-main" id="gv-main">