<div class="gv-city-search"></div>
<div class="gv-main" id="gv-main">{{{Copy1}}}

        <div class="bri-series-outer">
                <a class="bri-series__link" href="https://www.theguardian.com/cities/series/sweltering-cities">
                <div class="bri-series">
                <div class="bri-series__inner">
                More from the
                <em>Sweltering Cities</em> series
                </div>
                <div class="bri-arr-outer">
                <svg class="bri-arr" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 30 30">
                <path fill="currentColor" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"></path>
                </svg>
                </div>
                </div> </a>
                </div>

</div>

