.gv-header-container {
    //max-width: 620px;
    position: relative;
    padding-top: 10px;

    @include mq(leftCol) {
       border-left: 1px solid #dcdcdc;
    }
    margin-bottom: 10px;

    margin-left: 230px;

    padding-left: 10px;

    @include mq($until: wide) {
        margin-left: 170px;
    }

    @include mq($until: desktop) {
        margin-left: 0;
        padding-left: 0;
    }

    border-bottom: 1px solid #e7dbdb;

    position: relative;
}

.gv-title {
    @include fs-header(3);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 40px;
    max-width: 280px;
    font-weight: bold;



    @include mq(tablet) {
        font-size: 50px;
        line-height: 54px;
        max-width: 620px;
        margin-bottom: 24px;
    }

    @include mq(desktop) {
        font-size: 46px;
        line-height: 48px;
    }

    & em {
        font-weight: 200;
    }


}

.gv-standfirst {
max-width: 620px;
@include fs-header(3);
font-weight: 200;
margin-bottom: 24px;
line-height: 26px;;
}



.gv-header__meta {

    max-width: 620px;
    //margin-bottom: 12px;
    position: relative;

}

.gv-header__byline {
    @include fs-bodyCopy(2);
    margin-bottom: 3px;

    @include mq(desktop) {
        @include fs-bodyCopy(3);
    }
    //display: none;
    color: $feature-blue;
}

.gv-header__byline--link {

    color: $news-red;
    font-weight: bold;
    font-style: normal;
}

// .gv-share-container {
//     position: absolute;
//     bottom: 6px;
//     right: 0;
// }

.gv-main {
    padding-top: 20px;
    @include mq(mobile) {
        padding-left: 0;
        margin-left: 240px;
        max-width: 720px;
    }
    
    @include mq(desktop) {
        padding-left: 10px;
    }

    


    

    @include mq(leftCol) {
       border-left: 1px solid #dcdcdc;
    }

    @include mq($until: wide) {
        margin-left: 180px;
    }


    @include mq($until: wide) {
        margin-left: 180px;
    }

    @include mq($until: desktop) {
        margin-left: 0;
    }

    max-width: 720px;

    p {
        max-width: 620px;
    }

}


.interactive-share {
    height: 32px;
    width: 32px;
    border-radius: 34px;
    display: inline-block;
    border: 1px solid $neutral-86;
    cursor: pointer;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
 
    &[data-network='facebook'] {
        background-image: url("<%= path %>/assets/facebook.svg");
        background-color: white;
    }
    &[data-network='twitter'] {
        background-image: url("<%= path %>/assets/twitter.svg");
        background-color: white;
    }
    &[data-network='email'] {
        background-image: url("<%= path %>/assets/mail.svg");
        background-color: white;
    }
  }
  
  .interactive-share:hover {
    cursor: pointer;
    background-color: $news-red;
  
      &[data-network='facebook'] {
          background-image: url("<%= path %>/assets/facebook-white.svg");
      }
      &[data-network='twitter'] {
              background-image: url("<%= path %>/assets/twitter-white.svg");
      }
      &[data-network='email'] {
              background-image: url("<%= path %>/assets/mail-white.svg");
      }
  }


  .container-badge {

    display: block;
    @include fs-textSans(1);

   
  
  
   width: 100%;

  
    position: relative;

 

    @include mq( tablet) {
     
        max-width: 180px;
        
     }

     @include mq( wide) {
        left: -160px;
        top: -33px;
        width: calc((100vw - 620px) / 2);
        max-width: 160px;
        position: absolute;
        border-bottom: 1px solid #e7dbdb;

     }
 

    @include mq(wide) {
        
        left: -210px;
        max-width: 200px;
    }




    a {
      color: #ccc
    }
  
    .badge {
        border-top: 1px solid $neutral-86;
        padding-top: 2px;
        @include mq(desktop) {
            border-bottom: none;
        }
        @include mq($until: desktop) {
            border-top: none;

            margin-bottom: 6px;
        }
    }
  
    .badge {
      text-align: left;
      overflow: hidden;
    }
  
    .badge__link {
      display: block;
      padding-right: 10px;
      padding-bottom: 6px;
      padding-top: 6px;
  
      img {
        max-width: 100%;
      }
    }
    .badge__logo {
      margin-left: 0;
    }
  }


  .bri-series{max-width:620px;color:#c70000;font-size:22px;line-height:28px;font-family:"Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;font-weight:900;box-sizing:border-box;padding:0;font-size:24px;line-height:32px;font-weight:200;font-style:italic;cursor:pointer;text-decoration:none}.bri-series em{font-weight:bold;font-style:normal}.bri-series:before{content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;z-index:0}a.bri-series__link{text-decoration:none;z-index:10}a.bri-series__link:hover{text-decoration:underline}.bri-series__inner{padding:6px 0;max-width:620px}@media (max-width: 46.24em){.bri-series__inner{max-width:360px}}@media (max-width: 29.99em){.bri-series__inner{max-width:280px}}.bri-series-outer{position:relative;border-top:1px solid #dcdcdc;background:white;max-width:620px;margin-top:24px}.bri-arr-outer{border:1px solid #c70000;display:inline-block;width:34px;height:34px;text-align:center;padding-top:2px;box-sizing:border-box;border-radius:10000000px;position:absolute;right:0;top:5px}