@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
  margin: 0 !important;
}


.cells circle {
  fill: blue;
  stroke: white;
  stroke-width: 0.5
}

.cells circle {
  &:hover {
    fill: red;
  }
}

.cells path {
  fill: none;
  // stroke: black;
  pointer-events: all;

  &:hover{
    // fill: #f6f6f6;
    // stroke: red;
  }
}

.xAxis path,
.xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xStop {
  shape-rendering: crispEdges;
}

.highlight {
  fill: red !important;
  r: 5;
  stroke-width: 1
}