@import "mq";
@import "fonts";
@import "palette";
@import "immersive";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
  margin: 0 !important;
}


.cells circle {
  fill: #ff7f0f;
  stroke: white;
  stroke-width: 0.5
}

.cells circle {
  &:hover {
    fill: red;
  }
}

.cells path {
  fill: none;
  // stroke: rgb(0, 253, 114);
  stroke: none;
  pointer-events: all;

  &:hover{
    // fill: #f6f6f6;
    // stroke: red;
  }
}

.xAxis text {
  fill: #333333;
}

.xStop {
  shape-rendering: crispEdges;
  stroke-dasharray: 2, 2;
  fill: #dcdcdc;
  stroke: #b3b3b4 !important;
}

.xAxis path,
.xAxis line {
  fill: none;
  stroke: #333333;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #ff4e36 !important;
  r: 5;
  stroke-width: 1
}

.temp-area {
  fill: #dcdcdc;
  opacity: 0.4
}

.temp-area-hot {
  fill: #ed6300;
  opacity: 0.2
}
.temp-area-cold {
  fill: #0084c6;
  opacity: 0.2
}

.circle-label {
  fill: #333333;
  text-anchor: middle;
}

.period {
  font-size: 18px;
  font-weight: 600;
}

.need-1 {
  fill: #f5be2c;
}

.need-2 {
  fill: #ff4e36;
}

.noneed {
  fill: #11a725;
}

.gv-city-search {
  height: 300px;
}

.map-key-needAC {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f5be2c;
  margin-right: 5px;
}
.map-key-needHeat {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0084c6;
  margin-right: 5px;
}
.map-key-needBoth {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ff4e36;
  margin-right: 5px;
}
.map-key-noneedBoth {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #11a725;
  margin-right: 5px;
}

.map-key {
  
  @include mq(mobile) {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @include mq(tablet) {
    flex-direction: row;
    text-align: center !important;
  }

}

.key-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 10px;
}

.map-title {
  text-align: center;
}