@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
  margin: 0 !important;
}


.cells circle {
  fill: #ff7f0f;
  stroke: white;
  stroke-width: 0.5
}

.cells circle {
  &:hover {
    fill: red;
  }
}

.cells path {
  fill: none;
  // stroke: black;
  pointer-events: all;

  &:hover{
    // fill: #f6f6f6;
    // stroke: red;
  }
}

.xAxis text {
  fill: #333333;
}

.xStop {
  shape-rendering: crispEdges;
  stroke-dasharray: 2, 2;
  fill: #dcdcdc;
  stroke: #b3b3b4 !important;
}

.xAxis path,
.xAxis line {
  fill: none;
  stroke: #333333;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #ff7f0f !important;
  r: 5;
  stroke-width: 1
}

.temp-area {
  fill: #dcdcdc;
  opacity: 0.4
}

.circle-label {
  fill: #333333;
  text-anchor: middle;
}

.period {
  font-size: 18px;
  font-weight: 600;
}